{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>FAQ</h1>
  </div>
</div>
<p>
    <b>Question:</b>
    What is this?
</p>
<p>
    <b>Answer:</b>
    Just a friendly competition to motivate people to not only ride their bikes in place of driving, but do take the long route, preferably uphill.
</p>
<hr>
<p>
    <b>Question:</b>
    Does it cost money to enter?
</p>
<p>
    <b>Answer:</b>
    Nope. Completely free. You just need a Strava account, which you can get for free at strava.com
</p>
<hr>
<p>
    <b>Question:</b>
    What do I get for winning?
</p>
<p>
    <b>Answer:</b>
    Personal satisfaction and the envy of your peers
</p>
<hr>
<p>
    <b>Question:</b>
    How long is the competition?
</p>
<p>
    <b>Answer:</b>
    This competition is generally held in May (you might have heard it referenced as the <b>"May Elevation Challenge"</b>), but this website will show stats for the current month. So you can keep up the competition as long as you want.
</p>
<hr>
<p>
    <b>Question:</b>
    How can I make a suggestion regarding the website?
</p>
<p>
    <b>Answer:</b>
    Submit a JIRA ticket to... actually no. Don't do that. Just email me. If you don't know who I am, then I probably don't want you to have my contact info. I guess then you will have to keep your brilliant idea all to yourself.
</p>
<hr>
<p>
    <b>Question:</b>
    How can I talk trash to other competitors?
</p>
<p>
    <b>Answer:</b>
    There is a link to the Tesla Slack Biking channel. Feel free to go over there and trash talk it up.
</p>
<hr>
<!--
<p>
    <b>Question:</b>

</p>
<p>
    <b>Answer:</b>

</p>
<hr>
<p>
    <b>Question:</b>

</p>
<p>
    <b>Answer:</b>

</p>
<hr>
-->
{% endblock %}