{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h2>Welcome to the Elevation Challenge</h2>
  </div>
</div>
<div class="container">
    {% load chartit %}
    <div style="height:500px" id="container">{{ charts|load_charts:"container,pie_chart" }} chart should be rendered here</div>

  <div class="row">
    <button type="button", value="Remove All" onclick="<script>
    $(highcharts-0.series).each(function(){
        //this.hide();
        this.setVisible(false, false);
    });
    chart.redraw();
    </script>">Remove All</button>
  </div> <!-- row -->
    <div id="column1" style="float:left; margin:0; width:40%;">
    <table class="CSSTableGenerator">
        <tr>
            <th>Rank </th>
            <th>Name </th>
            <th>Elevation (ft) </th>
        </tr>
        {% for item in leaderboard %}
        <tr>
            <td> {{ forloop.counter|ordinal }}</td>
            <td> <a href="/individual/?id={{ item.id }}">{{ item.firstname }} {{ item.lastname }}</a></td>
            <td> {{ item.elevation|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id = "column2" style="float:center; margin:0; width:10%;"></div>
    <div id = "column3" style="float:right; margin:0; width:50%;">
        <h2><span class="glyphicon glyphicon-circle-arrow-up"></span><b> {{ total_elevation|intword|intcomma }}</b> total feet of elevation</h2>
        <h2><span class="glyphicon glyphicon-flash"></span><b> {{ energy_wasted|intword|intcomma }}</b> kWh wasted (uphill expenditure)</h2>
        <!--(uphill energy spent, ~0.07Wh per ft/hr)-->
        <h2><span class="glyphicon glyphicon-globe"></span><b> {{ ghg_prevented|intword|intcomma }}</b> kg GHG prevented</h2>
        <h2><span class="glyphicon glyphicon-fire"></span><b> {{ coal_prevented|intword|intcomma }}</b> lbs of coal not burned</h2>
        <h2><span class="glyphicon glyphicon-tint"></span><b> {{ gasoline_prevented|intword|intcomma }}</b> gal of gasoline not burned</h2>
        <!--(assuming 21.2mpg)-->
        <!-- 0.689551 kg CO2 saved per kwh according to
        https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator-->
     </div>
</div>



{% endblock %}