{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h2>Welcome to the Elevation Challenge</h2>
  </div>
</div>
<div class="container">
    {% load chartit %}
    {{ sample_chart|load_charts:"container" }}
    <div style="height:500px" id="container">chart should be rendered here</div>
  <hr>
  <div class="row">
    <button type="button", value="Remove All" onclick="<script>
    $(highcharts-0.series).each(function(){
        //this.hide();
        this.setVisible(false, false);
    });
    chart.redraw();
    </script>">Remove All</button>
  </div> <!-- row -->
    <div id="column1" style="float:left; margin:0; width:40%;">
    <table class="CSSTableGenerator">
        <tr>
            <th>Rank </th>
            <th>Name </th>
            <th>Elevation (ft) </th>
        </tr>
        {% for item in leaderboard %}
        <tr>
            <td> {{ forloop.counter|ordinal }}</td>
            <td> <a href="/individual/?id={{ item.id }}">{{ item.firstname }} {{ item.lastname }}</a></td>
            <td> {{ item.elevation|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id = "column2" style="float:center; margin:0; width:10%;"></div>
    <div id = "column3" style="float:right; margin:0; width:50%;">
        <div id="pie_chart">pie chart should be here</div>

        <h2>{{ total_elevation|intword }} Elevation (ft)</h2>
        <h2>{{ energy_saved|intcomma }} Energy Saved (kW)</h2>
        (based on distance with no elevation, ~1kWh/mile)
        <h2>{{ energy_wasted|intcomma }} Energy Wasted (kW)</h2>
        (uphill energy spent, ~0.07Wh per ft/hr)
     </div>
</div>



{% endblock %}